<script type="text/ng-template" id="newproject.html">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h1 class="page-header">Add New Project</h1>
            </div>
        </div>
        <input type="button" data-ng-click="addNewProject()" />
    </div>
</script>
