<script type="text/ng-template" id="newuser.html">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h1 class="page-header">Add New User</h1>
            </div>
        </div>
    </div>

</script>