<script type="text/ng-template" id="time.html">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h1 class="page-header">Time</h1>
            </div>
        </div>
    </div>
</script>
