<script type="text/ng-template" id="about.html">
    @{
        ViewBag.Title = "About";
    }
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h1 class="page-header">About</h1>
            </div>
        </div>
    </div>
</script>
