@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}

@using TimeTrackMvcWebApiAngular.Helpers;

@{
    Html.IncludeUsersClientViews();
}
<div class="row">
    <div class="col-md-12">
        <div data-ng-view=""></div>
    </div>
</div>

@*Lib*@
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="~/Scripts/underscore.js"></script>

@*Application*@
<script src="~/Scripts/application/usersApplication/application.js"></script>
<script src="~/Scripts/application/usersApplication/router.js"></script>
<script src="~/Scripts/loading-bar.js"></script>

@*Services*@
@*<script src="~/Scripts/angular-local-storage.js"></script>*@
<script src="~/Scripts/application/services/localStorageService.js"></script>
<script src="~/Scripts/application/services/service.js"></script>
<script src="~/Scripts/application/services/ajaxRequest.js"></script>
<script src="~/Scripts/application/services/authService.js"></script>
<script src="~/Scripts/application/factory/authInterceptorService.js"></script>
<script src="~/Scripts/application/usersApplication/services/baseUrlService.js"></script>
<script src="~/Scripts/application/usersApplication/services/projectService.js"></script>
<script src="~/Scripts/application/usersApplication/services/clientProjectService.js"></script>

@*Controllers*@
<script src="~/Scripts/application/usersApplication/controllers/dashboardController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/newprojectController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/newuserController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/projectlistController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/projectreportController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/timeController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/userController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/userlistController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/userreportController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/usertimeController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/logoutController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/newclientProjectController.js"></script>
<script src="~/Scripts/application/usersApplication/controllers/clientlistController.js"></script>
